DATABASE_URL=???
OPENAI_API_KEY=???
JWT_SECRET_KEY=???
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
GOOGLE_CLIENT_ID=???
GOOGLE_CLIENT_SECRET=???
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/integrations/gmail/callback
GOOGLE_GMAIL_SCOPES=https://www.googleapis.com/auth/gmail.readonly
GMAIL_TOKEN_ENCRYPTION_KEY=
